APP_ID=12345678
APP_HASH=0123456789abcdef0123456789abcdef
OWNER_ID=7616808278

# Optional
MONGO_URL=mongodb+srv://user:pass@cluster.mongodb.net/?retryWrites=true&w=majority

# Bot Tokens
BOT_TOKEN1=123456789:AAxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BOT_TOKEN2=123456789:AAxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Images
START_PIC=https://files.tgvibes.online/5JreGgKB.jpg
HELP_PIC=https://files.tgvibes.online/5JreGgKB.jpg
